.logo {
    font-weight: 100; 
    font-size: 1.5rem;
}

#progressIndicator {
    transition: stroke-dashoffset 1.5s ease;
}

.card-height {
    height: 220px !important;
}

p {
    margin-top: 25px !important;
}
.card-body-margin {
    margin: 15px 0px 0px 10px;
}

.unit-margin {
    margin: 20px 0px 0px 5px;
}

.fs-1r {
    font-size: 1rem !important;
}

.fs-3r {
    font-size: 3rem !important;
}

.mb--2 {
    margin-bottom: -2px !important;
}

.modal-dialog {
    top: 30%;
}

.bg-blur {
    backdrop-filter: blur(1px);
}
