{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#7F8CFF">

    <title>{% block title %}Tracc{% endblock %}</title>

    <!-- favicon -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Tracc">
    <link rel="apple-touch-icon" href="{% static 'assets/img/logo-192.ico' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logo-32.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/logo-16.ico' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/themes.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.css" rel="stylesheet">
</head>
<body>
    <!-- Loader -->
    <div id="page-loader" class="loader-wrapper">
        <!-- Glowing dot and pulse -->
        <!-- <div class="brand-loader">
            <div class="ring"></div>
            <div class="dot"></div>
        </div> -->
        
        <!-- Square Shinanigans -->
        <span class="loader"></span>
    </div>

    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="brand navbar-brand" href="{% url 'dashboard' %}">
                <span class="logo">TRACC</span>
            </a>

            <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'weightlog_list' %}">Logs</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'analytics' %}">Analytics</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'settings' %}">Settings</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                    {% endif %}

                    <!-- <li class="nav-item">
                        <button id="theme-toggle" class="btn">
                            <i class="bi bi-moon"></i>
                        </button>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <!-- Django messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>

     
    {% if request.user.is_authenticated %}
    <!-- Floating Add Button -->
    <button 
        class="btn shadow-lg flt-add-btn"
        data-bs-toggle="modal" 
        data-bs-target="#addEditModal"
        onclick="openAddModal()"
    >
        <i class="bi bi-plus-lg"></i>
    </button>

    <!-- Bottom Navbar -->
    <nav class="bottom-navbar d-lg-none">
        <a href="{% url 'dashboard' %}" class="nav-item text-center">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
        </a>
        <a href="{% url 'weightlog_list' %}" class="nav-item text-center">
            <i class="bi bi-journal-text"></i>
            <span>Logs</span>
        </a>

        <!-- Center Add Button -->
        <button 
            class="nav-add-btn"
            data-bs-toggle="modal" 
            data-bs-target="#addEditModal"
            onclick="openAddModal()"
        >
            <i class="bi bi-plus-lg"></i>
        </button>

        <a href="{% url 'analytics' %}" class="nav-item text-center">
            <i class="bi bi-graph-up"></i>
            <span>Analytics</span>
        </a>
        <a href="{% url 'settings' %}" class="nav-item text-center">
            <i class="bi bi-gear"></i>
            <span>Settings</span>
        </a>
    </nav>
    {% endif %}

        
    <!-- Add/Edit Modal -->
    <div class="modal fade bg-blur" id="addEditModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog adit-modal">
            <form method="POST" id="addEditForm" action="{% url 'add_weight_log' %}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Add Weight Log</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="modalWeight" class="form-label">Weight (kg)</label>
                            <input type="number" step="0.1" name="weight" class="form-control" id="modalWeight" required>
                        </div>
                        <div class="mb-3">
                            <label for="modalNotes" class="form-label">Notes (optional)</label>
                            <textarea name="notes" class="form-control" id="modalNotes"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="modalSubmitBtn">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Weekly Summary Modal -->
    <div class="modal fade bg-blur" id="summaryModal" data-bs-backdrop="static" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content rounded-4 shadow-lg border-0 summ-modal">

                <!-- Header -->
                <div class="modal-header border-0 pb-0">
                    <div class="modal-title">
                        <h4 class="fw-bold">Your Week in Review</h4>
                        <p class="text-muted my-0">
                            {{ summary.week_start|date:"j M" }} - {{ summary.week_end|date:"j M" }}
                        </p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="changePage(0)"></button>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <div id="page-1" class="d-block">
                        <div class="summ-graph">
                            <canvas id="summChart" height="600" width="500"></canvas>
                            {{ sum_line_data|json_script:"summ-line-data" }}
                        </div>
                        
                        <p class="mb-1">
                            <strong>Average Weight:</strong> {{ summary.avg_weight }} kg  
                            <span class="{% if summary.change_from_last_week > 0 %}text-danger{% else %}text-success{% endif %}">
                                ({{ summary.change_from_last_week }} kg from last week)
                            </span>
                        </p>
                        <p class="text-muted">
                            Your weight averaged at <strong>{{ summary.avg_weight }} kg</strong> last week,  
                            which was <strong>{{ summary.change_from_last_week }} kg</strong> 
                            {% if summary.change_from_last_week > 0 %} more than the {% elif summary.change_from_last_week < 0 %} less than the {% else %} same as {% endif %}
                            previous week.
                        </p>
                    </div>
                    <div id="page-2" class="d-none">
                        <div class="mb-4">
                            <div class="row mt-4">
                                {% for key, value in summary.highlights.items %}
                                    <div class="col-6">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <h5 class="card-title hlts-title text-center">
                                                    {% if key == 'logs' %}
                                                    <!-- logged in -->
                                                    <i class="bi bi-check-square" style="color: #008000;"></i>
                                                    {% elif key == 'streak' %}
                                                    <!-- streaks -->
                                                    <i class="bi bi-fire" style="color: #aa4203;"></i>
                                                    {% elif key == 'gain' %}
                                                    <!-- weight gain -->
                                                    <i class="bi bi-caret-up-fill" style="color: #FF0000;"></i>
                                                    {% elif key == 'loss' %}
                                                    <!-- weight loss -->
                                                    <i class="bi bi-caret-down-fill" style="color: #008000;"></i>
                                                    {% endif %}
                                                </h5>
                                                <p class="card-text text-center">{{ value }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <li>No highlights available</li>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer border-0 pt-0 d-flex justify-content-between">
                    <button id="summ-btn-prev" type="button" class="btn btn-primary rounded-pill px-4 d-none float-left" onclick="changePage(-1)">
                        Previous
                    </button>
                    <button id="summ-btn-next" type="button" class="btn btn-primary rounded-pill px-4 d-block" onclick="changePage(1)">
                        Next
                    </button>
                    <a href="{% url 'analytics' %}" id="summ-btn-gta" class="btn btn-primary rounded-pill px-4 d-none">
                        Go to Analytics
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/main.min.js"></script> -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>

    <!-- Loader Script -->
    <script>
        (function () {
            const loader = document.getElementById("page-loader");

            // Hide loader when page fully loads
            window.addEventListener("load", function () {
                loader.style.opacity = "0";
                setTimeout(() => {
                    loader.style.display = "none";
                }, 300);
            });

            function shouldIgnoreLink(link) {
                const href = link.getAttribute("href");

                return (
                    !href ||
                    href.startsWith("#") ||
                    href.startsWith("javascript:") ||
                    link.target === "_blank" ||
                    link.hasAttribute("data-bs-toggle")
                );
            }

            // Show loader on valid link click
            document.addEventListener("click", function (e) {
                const link = e.target.closest("a");
                if (link && !shouldIgnoreLink(link)) {
                    loader.style.display = "flex";
                    loader.style.opacity = "1";
                }
            });

            // Show loader on form submit
            document.addEventListener("submit", function () {
                loader.style.display = "flex";
                loader.style.opacity = "1";
            });
        })();
    </script>

    
    <script>
        function openAddModal() {
            document.getElementById('modalTitle').innerText = "Add Weight Log";
            document.getElementById('addEditForm').action = "{% url 'add_weight_log' %}";
            document.getElementById('modalWeight').value = "";
            document.getElementById('modalNotes').value = "";
        }

        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("{% static 'js/service-worker.js' %}");
        }

        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        const root = document.documentElement;

        // Load saved theme family + mode
        let savedFamily = localStorage.getItem("themeFamily") || "classic";
        let savedMode = localStorage.getItem("themeMode") || "light";

        root.setAttribute("data-theme-family", savedFamily);
        root.setAttribute("data-bs-theme", savedMode);

        const navLinks = document.querySelectorAll('.bottom-navbar a');
        navLinks.forEach(link => {
            if (link.href === window.location.href) {
                link.classList.add('active');
            }
        });
    
        // Summary Line Graph.
        const summary_ctx = document.getElementById('summChart').getContext('2d');
        const summlineData = JSON.parse(document.getElementById('summ-line-data').textContent);

        weights = summlineData.weights || [];
        minWeight = Math.min(...weights);
        maxWeight = Math.max(...weights);

        new Chart(summary_ctx, {
            type: 'line',
            data: {
                labels: summlineData.labels || [], 
                datasets: [{
                    label: 'Weight',
                    data: weights,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    fill: false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        title: {
                            display: false,
                        },
                        grid: {
                            color: getComputedStyle(document.documentElement).getPropertyValue('--border-bottom-color') || '#cccccc'
                        },
                        ticks: {
                            autoSkip: true,
                            maxRotation: 45,
                            minRotation: 0,
                        },
                    },
                    y: {
                        title: {
                            display: false,
                        },
                        grid: {
                            color: getComputedStyle(document.documentElement).getPropertyValue('--border-bottom-color') || '#cccccc'
                        },
                        beginAtZero: false,
                        suggestedMin: minWeight - 2,
                        suggestedMax: maxWeight + 2
                    }
                }
            }
        });
        
        // Weekly Summary.
        let currPage = 1;

        const prevBtn = document.getElementById("summ-btn-prev");
        const nextBtn = document.getElementById("summ-btn-next");
        const gtaBtn  = document.getElementById("summ-btn-gta");
        const page1Div = document.getElementById("page-1");
        const page2Div = document.getElementById("page-2");

        function toggleVisibility(el, show) {
            el.classList.toggle("d-block", show);
            el.classList.toggle("d-none", !show);
        }

        function changePage(incr = 0) {
            currPage = incr === 0 ? 1 : currPage + incr;

            // page 1
            if (currPage === 1) {
                toggleVisibility(prevBtn, false);
                toggleVisibility(gtaBtn, false);
                toggleVisibility(nextBtn, true);
                toggleVisibility(page1Div, true);
                toggleVisibility(page2Div, false);
            }

            // page 2
            else if (currPage === 2) {
                toggleVisibility(prevBtn, true);
                toggleVisibility(gtaBtn, true);
                toggleVisibility(nextBtn, false);
                toggleVisibility(page1Div, false);
                toggleVisibility(page2Div, true);
            }
        }
    </script>
</body>
</html>
